﻿@model Todo.Models.Tasks
@{
    ViewBag.Title = "Search";
}

<div class="container">

    <h2>@Model.due</h2>

    <p>@Model.task</p>

    @Html.ActionLink("Edit", "Update", new { id = Model.id }) |
    @Html.ActionLink("Remove", "Remove", new { id = Model.id })

</div>



