﻿@model List<Todo.Models.Tasks>
@{
    ViewBag.Title = "Tasks";
}
<h1>Tasks</h1>


@foreach (var n in Model)
{
    <div class="container">
        @Html.ActionLink(n.due, "Search", new { id = n.id }) |
    </div>
}
