﻿@model Todo.Models.Tasks
@{
    ViewBag.Title = "New";
}
<h3>Tasks</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="task">Task:</label>
        <textarea class="form-control" id="task" name="task" rows="5" cols="5">@Model.task</textarea>
    </div>
    <div class="form-group">
        <label for="due">Due:</label>
        <input type="text" class="form-control" id="due" name="due" value="@Model.due">
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>

}
